# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives**
- List popular lanagues for Data Science
- List commonly use libraries for Data Scientists
- List commonly used Data Science Tools
- Show how documentation and  code execution can be combined in a Jupyter Notebook

## Author
S.Venkatesh

Some of the popular languages that Data Scientists use are:

1. R
2. Python
3. SQL
4. Julia


Some of the commonly used libraries used by Data Scientists are:

1. Pandas
2. Matplotlib
3. SciPy
4. Scikit-learn
5. TensorFlow


| Data Science Tools |
| ------------------ |
| Apache Hadoop |
| Apache Spark |
| Jupyter Notebook |

### Below are a few examples of evaluating arithmetic expressions in python

In [1]:
# This is a simple arithmetic expression to multiple and then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335